body {
    font-family: 'Poppins', sans-serif;
    width: 1321px;
    height: 646px;

}

/* Banner Part style */
.banner-container {
    width: 100%;
    height: 400px;
    display: flex;
    background-color: #161616;
    border-radius: 30px;
}

.banner-description {
    color: white;
}